# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# Environment
.env

# SQLite database files
*.db
*.sqlite
*.sqlite3

# Alembic/Python cache
alembic/__pycache__/
alembic/versions/__pycache__/

*.ini